.root {
  margin-top: 10px;
  display: flex;
  justify-content: center;

  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: #fe5f1e;

      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}

@media (max-width: 541px) {
  .root {
    margin-top: 20px;
    width: 198px;
    li {
      margin-left: 7px;
      width: 35px;
      height: 35px;
      a {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        font-size: 15px;
      }
    }
  }
}